#centeringContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gridContainer {
    display: grid;
}

#gridContainer > div {
    width: 10px;
    height: 10px;
    border: 1px solid black;
}

#createGrid {
    padding: 20px;
    margin: 50px 0;
}


